<mat-sidenav-container>
  <mat-sidenav mode="over" [(opened)]="sidenavOpened">
    <div class="side-menu">

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button (click)="sidenavOpened = !sidenavOpened" mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <span> Accountant Agenda</span> -->
      <span class="spacer"></span>
      <mat-icon>apps</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


